<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>event.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>112</integer>
		</dict>
		<key>event_osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>432450E0209426DA008BD468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>432547F320A94EA4007B9C23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43746EF7205262A5003BAB6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
